BasedOnStyle: LLVM

Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
IndentWidth: 4
ReflowComments: true
BreakBeforeBinaryOperators: NonAssignment